/* fonts.css - Andy Baizon 2016 */


/* Fashion Fetish */
@font-face {
    font-family: 'Fashion Fetish';
    src: url('Fashion Fetish Light.ttf');
}

@font-face {
    font-family: 'Fashion Fetish SmallCaps';
    src: url('Fashion Fetish Small Caps.ttf');
}


/* End of File */
