/* Main Styling */

/* Proportions */

/* Position */

/* Additional Styling */

/* Text */

body{
  /* Additional Styling */
  background-color: #FFFFFF;

  /* Text */
  font-family:'Roboto',sans-serif;
  font-weight: 300;
  font-size:   20px;
}

a{
  text-decoration: none;
  color:           inherit;
}

.siteBanner{
  /* Proportions */
  height: 100px;
  width:  100%;

  /* Position */
  position: absolute;
  top:      0px;
  left:     0px;
  z-index:  1;

  /* Additional Styling */
  background-color: #FFFFFF;
  border-bottom: 1px;
  border-style: solid;
  border-color: #EEEEEE;

  /* Text */
  text-align: center;
  color:       #000000;
}

.mainTitle{
  /* Proportions */

  /* Position */
  margin-top:   15px;
  margin-left:  200px;
  margin-right: 200px;
  display:      inline-block;

  /* Additional Styling */

  /* Text */
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size:   50px;
  line-height: 70px;
}

.underBanner{
  /* Proportions */
  height: 40px;
  width:  100%;

  /* Position */
  position: absolute;
  top:      100px;
  left:     0px;
  z-index:  0;

  /* Additional Styling */
  background-color:   #FFFFFF;
  box-shadow:         0 0 10px #999999;

  /* Text */
  text-align: center;
}

.underBannerItem{
  /* Proportions */

  /* Position */
  margin-top:   0px;
  margin-left:  50px;
  margin-right: 50px;
  display:      inline-block;

  /* Additional Styling */

  /* Text */
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  font-size:   17px;
  line-height: 40px;
}


.mainContent{
  /* Proportions */
  height: auto;
  width:  100%;

  /* Position */
  position: absolute;
  top:      160px;
  left:     0px;

  /* Additional Styling */

  /* Text */
}

.about{

}

.projects{

}

.education{

}
