/* Main Stylesheet - Andy Baizon 2016 */

body{
  /*Proportions */
  height: 2240px;

  /* Position */
  margin-top:    0px;
  margin-left:   0px;
  margin-bottom: 0px;
  margin-right:  0px;

  /* Additional Styling */
  background-color: #FFFFFF;
  overflow-x:       hidden;
  overflow-y:       auto;
  padding:          0px;

  /* Text */
  font-family:'Roboto',sans-serif;
  font-weight: 300;
  font-size:   20px;
}

a{
  text-decoration: none;
  color:           inherit;
}

/* SCROLL BARS */

body::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

body::-webkit-scrollbar{
  width: 9px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb{
	background-color: #888888;
}


/* MAIN SITE CONTENT BELOW */
.siteBanner{
  /* Proportions */
  height: 100px;
  width:  100%;

  /* Position */
  position: absolute;
  top:      0px;
  left:     0px;
  z-index:  1;

  /* Additional Styling */
  border-bottom:       1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  background-color:    #FFFFFF;

  /* Text */
  text-align: center;
  color:      #000000;
}

.mainTitle{
  /* Proportions */

  /* Position */
  margin-top:   15px;
  margin-left:  200px;
  margin-right: 200px;
  display:      inline-block;

  /* Additional Styling */

  /* Text */
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size:   50px;
  line-height: 70px;
}

.underBanner{
  /* Proportions */
  height: 40px;
  width:  100%;

  /* Position */
  position: absolute;
  top:      100px;
  left:     0px;
  z-index:  0;

  /* Additional Styling */
  background-color: #FFFFFF;
  box-shadow:       0 0 10px #999999;

  /* Text */
  text-align: center;
}

.underBannerItem{
  /* Proportions */

  /* Position */
  margin-top:   0px;
  margin-left:  50px;
  margin-right: 50px;
  display:      inline-block;

  /* Additional Styling */

  /* Text */
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  font-size:   17px;
  line-height: 40px;
}


.mainContent{
  /* Proportions */
  height: 1500px;
  width:  100%;

  /* Position */
  position: absolute;
  top:      140px;
  left:     0px;

  /* Additional Styling */
  padding-top: 50px;

  /* Text */
  text-align: center;
}

.about{
  /* Proportions */
  height:   500px;
  width:    100%;

  /* Position */
  position: absolute;
  top:      140px;
  left:     0px;

  /* Additional Styling */

  /* Text */
}

.projects{
  /* Proportions */
  height:   500px;
  width:    100%;

  /* Position */
  position: absolute;
  top:      640px;
  left:     0px;

  /* Additional Styling */

  /* Text */
}

/* EDUCATION SECTION */

.education{
  /* Proportions */
  height:   500px;
  width:    100%;

  /* Position */
  position: absolute;
  top:      1140px;
  left:     0px;

  /* Additional Styling */

  /* Text */
}




/* CONTACT SECTION*/
.contact{
  /* Proportions */
  height:   500px;
  width:    100%;

  /* Position */
  position: absolute;
  top:      1640px;
  left:     0px;

  /* Additional Styling */

  /* Text */
}

.footer{
  /* Proportions */
  height:   140px;
  width:    100%;

  /* Position */
  position: absolute;
  top:      2140px;
  left:     0px;

  /* Additional Styling */
  border-top:       1px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  background-color: #FFFFFF;

  /* Text */
  text-align:  center;
  color:       #999999;
}

.footerText{
  /* Text */
  line-height: 140px;
  color:       #999999;
}

.net{
  /* Position */
  position: absolute;
  right:    5px;
  bottom:   0px;

  /* Text */
  font-size: 20px;
}

.topScroll{
  /* Proportions */
  height: 50px;
  width:  50px;

  /* Position */
  position: fixed;
  bottom:   50px;
  left:     50px;

  /* Additional Styling */
  display: none;
}
