body{
    background-color: #ffffff;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
  }
  
  .global-container{
    min-width: 100%;
    max-width: 100%;
    height: 1080px;
    background-color: #ffffff;
    /*background-image: url('./assets/images/clouds.jpg');*/
    background-repeat: no-repeat;
    background-position: center right;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0;
    padding: 0;
  }
   .white-space{
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
    padding: 0;
    height: 100%;
    width: 80%;
    background-color: #ffffff;
   }
  
  .topbar{
    position:absolute;
    top:0px;
    left:0px;
    height:70px;
    width:100%;
    background-color:#ffffff;
    border-bottom: 1px solid #333333;
  }

  .logo-portion{
    position:absolute;
    top:0px;
    left:0px;
    text-align: left;
    font-size: 15px;
    font-family: 'Moon';
    line-height: 70px;
    margin-left:50px;
    /*font-family: 'Fashion Fetish Smallcaps';*/
  }

  .nav-bar{
    position:absolute;
    top:0px;
    right:50px;
    text-align: left;
    font-size: 15px;
    font-family: 'Moon';
    line-height: 70px;
    margin-left:50px;
    display: flex;
    width:400px;
    color: #888888;
  }

  .nav-bar-item{
    width: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Moon';
    line-height: 70px;
    color: #888888;
  }

  .nav-bar-item-wrapper{
    width: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Moon';
    line-height: 70px;
    color: #888888;
  }

  .nav-bar-item:hover {
    animation: ease-in-out;
    animation-duration: 2s; 
    color: #000000;
  }
  
  .nav-portion{
    /*background-color: orange;*/
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
    align-content: center;
    width: 700px;
  }
  
  /*Buttons*/
  
  .button-wrapper{
    height: 60px;
    width: 300px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
   .button-instagram{
    height: 60px;
    width: 300px;
    border-radius: 5px;
    background-image: linear-gradient(-90deg, #c1009b, #e50030);
  }
  
  .button-gyroscope{
    height: 60px;
    width: 300px;
    border-radius: 5px;
    background-color: #222830;
  }
  
  .button-git{
    height: 60px;
    width: 300px;
    border-radius: 5px;
    background-color: #000000;
  }
  
  .button-steam{
    height: 60px;
    width: 300px;
    border-radius: 5px;
    background-color: #00b9f2;
  }
  
  .button-text{
    width: 200px;
    height: 60px;
    text-align: center;
    vertical-align: center;
    float: left; 
    line-height: 65px;
  }
  
  /* Logos */
  .logo-IG{
    height: 60px;
    width: 60px;
    background-image: url('./assets/logos/IG_Logo.png');
    background-size: 46px 46px; 
    background-repeat: no-repeat;
    background-position: center center;
    float: left; 
  }
  
  .logo-gyroscope{
    height: 60px;
    width: 60px;
    background-image: url('./assets/logos/Gyroscope_Logo_alt.png');
    background-size: 46px 46px; 
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    float: left; 
  }
  
  .logo-git{
    height: 60px;
    width: 60px;
    background-image: url('./assets/logos/Github_Logo.png');
    background-size: 46px 46px; 
    background-repeat: no-repeat;
    background-position: center center;
    float: left; 
  }
  
  .logo-steam{
    height: 60px;
    width: 60px;
    background-image: url('./assets/logos/Steam_Logo_Light.png');
    background-size: 46px 46px; 
    background-repeat: no-repeat;
    background-position: center center;
    float: left; 
  }
  
  
  @font-face {
      font-family: 'Fashion Fetish';
      src: url('./assets/fonts/Fashion Fetish Light.ttf');
  }
  
  @font-face {
      font-family: 'Fashion Fetish SmallCaps';
      src: url('./assets/fonts/Fashion Fetish Small Caps.ttf');
  }
  
  @font-face {
    font-family: 'Moon';
    src: url('./assets/fonts/Moon Light.otf');
  }
  
  @font-face {
    font-family: 'Moon Bold';
    src: url('./assets/fonts/Moon Bold.otf');
  }
  
  a{
    text-decoration: none;
    color: ffffff;
    font-family: 'Moon Bold';
    font-size: 20px;
  }
  
  a:active, :link, :visited{
    text-decoration: none;
    color: #ffffff;
  }