/* Night Stylesheet - Andy Baizon 2016 */

body{
  /*Proportions */
  height: 100%;

  /* Position */
  margin:0;

  /* Additional Styling */
  background-color: #333;
  overflow-x:       hidden;
  overflow-y:       auto;
  padding-top:      0px;
  padding: 0;

  /* Text */
  color: #fff;
  font-family: 'Fashion Fetish', serif;
  font-weight: 300;
  font-size:   20px;
}

a{
  text-decoration: none;
  color:           inherit;
}

/* SCROLL BARS */
body::-webkit-scrollbar-track{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #444;
}

body::-webkit-scrollbar{
  width: 9px;
	background-color: #444;
}

body::-webkit-scrollbar-thumb{
	background-color: #222;
}


/* MAIN SITE CONTENT BELOW */
.siteBanner{
  /* Proportions */
  height: 100px;
  width:  100%;

  /* Position */
  position: absolute;
  top:      0px;
  left:     0px;
  z-index:  1;

  /* Additional Styling */
  border-bottom:       1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(68, 138, 255, 1)/*#448AFF*/;
  background-color:    #333;

  /* Text */
  text-align: center;
  color:      #FFF;
}

.mainTitle{
  /* Proportions */
  /* Position */
  margin-top:   15px;
  margin-left:  auto;
  margin-right: auto;
  display:      inline-block;

  /* Additional Styling */

  /* Text */
  font-family: 'Fashion Fetish', serif;
  font-weight: 300;
  font-size:   50px;
  line-height: 70px;
}

.underBanner{
  /* Proportions */
  height: 40px;
  width:  100%;

  /* Position */
  position: absolute;
  top:      100px;
  left:     0px;
  z-index:  0;

  /* Additional Styling */
  background-color: #333;
  box-shadow:       0 0 10px #000;

  /* Text */
  text-align: center;
}

.underBannerItem{
  /* Proportions */

  /* Position */
  margin-top:   3px;
  margin-left:  50px;
  margin-right: 50px;
  display:      inline-block;

  /* Additional Styling */
  transition: all .5s ease-in-out;
  /* Text */
  font-family: 'Fashion Fetish SmallCaps', serif;
  font-weight: 300;
  font-size:   17px;
  line-height: 40px;
}

.underBannerItem:hover{
  transform: scale(1.3);
}

/* CONTENT CONTAINER */
.mainContent{
  /* Proportions */
  height: 1500px;
  width:  100%;

  /* Position */
  position: absolute;
  top:      140px;
  left:     0px;

  /* Additional Styling */
  padding-top: 50px;

  /* Text */
  text-align: center;
}

.sectionTitle{
  /* Text */
  font-family: 'Fashion Fetish', serif;
  font-weight: 300;
  font-size:   30px;
  line-height: 70px;
}


/* ABOUT SECTION*/
.about{
  /* Proportions */
  height:   500px;
  width:    100%;

  /* Position */
  position: absolute;
  top:      140px;
  left:     0px;
  /* Additional Styling */

  /* Text */
}

.aboutInner{
    position:relative;
    height: 150px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.innerFlair{
    position: absolute;
    bottom:40px;
    right:75px;
    height: 1px;
    width: 150px;
    background-color:#448AFF;
}

.featureImage{
    position:absolute;
    top:0px;
    left:0px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #448AFF;
    background-image: url('Resources/Profile.jpg');
    background-position: center;
    background-size: contain;
}

.aboutTitle{
    position: absolute;
    top: 0px;
    right: 0px;
    margin-left: 0px;
    height: 150px;
    width: 300px;
    display: inline-block;
    line-height: 50px;
    /* Text */
    font-family: 'Fashion Fetish', serif;
    font-weight: 300;
    font-size:   30px;
    line-height: 150px;
}

.aboutText{
    width: 80%;
    height:300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.projects{
  /* Proportions */
  height:   570px;
  width:    100%;

  /* Position */
  position: absolute;
  top:      680px;
  left:     0px;

  /* Additional Styling */
  /* Text */
}

.projectsTitle{
    position: absolute;
    top: 50px;
    left: 50px;

    /* Text */
    font-family: 'Fashion Fetish', serif;
    font-weight: 300;
    font-size:   30px;
    line-height: 70px;
}


.projectItem{
    position: relative;
    margin-top: 130px;
    height: 400px;
    width: 800px;
    background-color: #444;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px #222;
}

.projectItemTitle{
    padding-top: 20px;
    font-family: 'Fashion Fetish', serif;
    font-size: 25px;
}

.projectFlair{
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    height:1px;
    width:100px;
    background-color: #448AFF;
}

.projectItemImage{
    position: absolute;
    bottom:20px;
    left:20px;
    height: 300px;
    width: 300px;
    border-radius: 2px;
    background-color: #448AFF;
    background-image: url();
    background-size: contain;
    background-position: center;
    display: inline-block;
}

.projectItemBrief{
    position: absolute;
    bottom:20px;
    right:20px;
    width: 440px;
    height: 300px;
    display: inline-block;
    line-height: 25px;
    font-family: 'Assistant', sans-serif;
    font-weight: 300;
    font-size: 22px;
}


/* EDUCATION SECTION */

.education{
  /* Proportions */
  height:   1000px;
  width:    100%;

  /* Position */
  position: absolute;
  top:      1140px;
  left:     0px;

  /* Additional Styling */
  /* Text */
  display: none;
}

.educationItem{
  /* Proportions */
  height:200px;
  width: 750px;

  /* Position */
  margin-top:    20px;
  margin-left:   auto;
  margin-bottom: 20px;
  margin-right:  auto;

  /* Additional Styling */
  border-top:          1px;
  border-top-style:    solid;
  border-bottom:       1px;
  border-bottom-style: solid;
  border-color:        #eee;
  display:             block;
  /* Text */
}

.educationTitle{
    position: absolute;
    top: 10px;
    left: 10px;

    /* Text */
    font-family: 'Fashion Fetish', serif;
    font-weight: 300;
    font-size:   30px;
    line-height: 70px;
}

/* CONTACT SECTION*/
.contact{
  /* Proportions */
  height:   500px;
  width:    100%;

  /* Position */
  position: absolute;
  top:      2140px;
  left:     0px;

  /* Additional Styling */

  /* Text */
   display: none;
}

.footer{
  /* Proportions */
  height:   180px;
  width:    100%;

  /* Position */
  position: absolute;
  top:      2640px;
  left:     0px;

  /* Additional Styling */
  border-top:       1px;
  border-top-style: solid;
  border-top-color: rgba(68, 138, 255, 1);
  background-color: #333;

  /* Text */
  text-align:  center;
  color:       #555;
	overflow:hidden;
}

.footerText{
  /* Text */
  font-family: 'Fashion Fetish', serif;
  line-height: 140px;
  color:       #555;
}

.net{
  /* Position */
  position: absolute;
  right:    5px;
  bottom:   50px;
  color: #448AFF;
  /* Text */
  font-size: 20px;
}

.twitterBanner{
  height: 40px;
  width: 100%;
  position: absolute;
  top: 140px;
  left:0px;
  background-color: #1da1f2;
}

.gitBanner{
  height: 40px;
  width: 100%;
  position: absolute;
  top: 180px;
  left:0px;
  background-color: #333333;
  display: none;
}
/*End Footer*/


.topScroll{
  /* Proportions */
  height: 50px;
  width:  50px;

  /* Position */
  position: fixed;
  bottom:   50px;
  left:     50px;

  /* Additional Styling */
  display: none;
}
