.logo{
  margin-top: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  border: 2px solid black;
  height: 50px;
  width: 200px;
}

.text{
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  font-family: 'Fashion Fetish';
  font-weight: 400;
}

@font-face {
    font-family: 'Fashion Fetish';
    src: url('Fashion Fetish Light.ttf');
}

@font-face {
    font-family: 'Fashion Fetish SmallCaps';
    src: url('Fashion Fetish Small Caps.ttf');
}
