body{
  background-color: #ECEFF1;
  overflow: hidden;
}
.global-container{
  min-width: 1920px;
  max-width: 2560px;
  height: 1080px;
  background-color: hotpink;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0;
  padding: 0;
}
 .white-space{
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  height: 100%;
  width: 65%;
  z-index: 999;
 }

 .image-space{
   background-image: url('clouds.jpg');
   height: 100%;
 }

.logo-portion{
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto; 
  text-align: center;
  font-size: 50px;
  font-family: 'Fashion Fetish Smallcaps';
}

.nav-portion{
  /*background-color: orange;*/
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto; 
  text-align: center;
  align-content: center;
  width: 680px;
}



.button-wrapper{
  height: 60px;
  width: 300px;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

 .button-instagram{
  height: 60px;
  width: 300px;
  border-radius: 5px;
  background-image: linear-gradient(-90deg, #c1009b, #e50030);
}

.button-gyroscope{
  height: 60px;
  width: 300px;
  border-radius: 5px;
  background-color: #222830;
}

.button-git{
  height: 60px;
  width: 300px;
  border-radius: 5px;
  background-color: #000000;
}

.button-steam{
  height: 60px;
  width: 300px;
  border-radius: 5px;
  background-color: #000000;
}

.logo-IG{
  background-image: url('IG_Logo.png');
  background-size: 46px 46px; 
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  margin-top: 5px;
}

.logo-gyroscope{
  background-image: url('Gyroscope_Logo.png');
  background-size: 46px 46px; 
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  border-radius: 15px;
  margin-top: 5px;
}



@font-face {
    font-family: 'Fashion Fetish';
    src: url('Fashion Fetish Light.ttf');
}

@font-face {
    font-family: 'Fashion Fetish SmallCaps';
    src: url('Fashion Fetish Small Caps.ttf');
}
