body{
  background-color: #ECEFF1;
  overflow: hidden;
}

.logo{
  margin-top: 25px;
  margin-left: 20px;
  margin-bottom: auto;
  border: 2px solid black;
  height: 50px;
  width: 200px;
}

.text{
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  font-family: 'Fashion Fetish';
  font-weight: 400;
}

.menu{
  height:100%;
  width: 150px;
  background-color:transparent;
  position: absolute;
  top:0px;
  right:0px;
  text-align: center;
  z-index: 9999;
  line-height: 40px;
  font-family: sans-serif;
  padding-top: 350px;
}

.plus{
  color:#606060;
  font-size: 40px;
  line-height: 50px;
}

.circle{
  background-color:  #1A8AFF;
  height: 2000px;
  width: 2000px;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

@font-face {
    font-family: 'Fashion Fetish';
    src: url('Fashion Fetish Light.ttf');
}

@font-face {
    font-family: 'Fashion Fetish SmallCaps';
    src: url('Fashion Fetish Small Caps.ttf');
}
